body
{
  background-color: lightgray;	
}

header
{
  background-color: #213945;
}

section
{
  background-color: white;
}

footer
{
  background-color: #213945;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100px:;
}